{namespace openmultimedia.componentes.mapas.ClipInfoWindowTemplates}

/**
 * Contenedor de la información
 * @param localization Objeto con las cadenas localizadas
 */
{template .container}
<div class="{css openmultimedia-infowindow}">
    <div class="{css openmultimedia-infowindow-info}">
      <div class="{css openmultimedia-infowindow-info-item}">
        <div class="{css openmultimedia-infowindow-info-item-clip}">
          <img class="{css openmultimedia-infowindow-info-item-thumbnail}" />
          <h3 class="{css openmultimedia-infowindow-info-item-title}"></h3>
          <div class="{css openmultimedia-infowindow-info-item-timeplace}"></div>
        </div>
        <div class="{css openmultimedia-infowindow-info-item-separador}"></div>
        <div class="{css openmultimedia-infowindow-info-item-player}"></div>
        <div class="{css openmultimedia-infowindow-info-item-corresponsal}">
          <div class="{css openmultimedia-infowindow-info-item-separador}"></div>
          <span class="{css openmultimedia-infowindow-info-item-corresponsal-label}">{$localization.etiquetas.corresponsal}</span>
          <span class="{css openmultimedia-infowindow-info-item-corresponsal-nombre}"></span>
          <div class="{css openmultimedia-infowindow-info-item-corresponsal-twitter}">
            <div class="{css openmultimedia-infowindow-info-item-corresponsal-twitter-avatar}"></div>
            <span class="{css openmultimedia-infowindow-info-item-corresponsal-twitter-screenname}"></span>
            <span class="{css openmultimedia-infowindow-info-item-corresponsal-twitter-tweet}"></span>
          </div>
        </div>
        <div class="{css openmultimedia-infowindow-info-item-entrevista}">
          <div class="{css openmultimedia-infowindow-info-item-entrevistado}">
            <span class="{css openmultimedia-infowindow-info-item-entrevistado-label}">{$localization.etiquetas.entrevistado}</span>
            <span class="{css openmultimedia-infowindow-info-item-entrevistado-nombre}"></span>
          </div>
          <div class="{css openmultimedia-infowindow-info-item-entrevistador}">
            <span class="{css openmultimedia-infowindow-info-item-entrevistador-label}">{$localization.etiquetas.entrevistador}</span>
            <span class="{css openmultimedia-infowindow-info-item-entrevistador-nombre}"></span>
          </div>
        </div>
      </div>
      <div class="{css openmultimedia-infowindow-nav}">
      <div class="{css openmultimedia-infowindow-nav-prev}"></div>
      <div class="{css openmultimedia-infowindow-nav-next}"></div>
      <div class="{css openmultimedia-infowindow-nav-pagination}">
        <span class="{css openmultimedia-infowindow-nav-pagination-current}"></span> / <span class="{css openmultimedia-infowindow-nav-pagination-total}"></span>
      </div>
    </div>
</div>
{/template}
