{namespace openmultimedia.componentes.mapas.SkinnableInfoWindowTemplates}

/**
 * Contenedor de la ventana
 */
{template .container}
<div class="{css openmultimedia-infowindow-container}">
    <div class="{css openmultimedia-infowindow-overlay}"></div>
    <div class="{css openmultimedia-infowindow-window}">
        <div class="{css openmultimedia-infowindow-window-content}"></div>
        <div class="{css openmultimedia-infowindow-window-close-button}"></div>
    </div>
</div>
{/template}