{namespace openmultimedia.componentes.video.JwPluginTemplates}

/**
 * Muestra el Overlay indicando que la señal en vivo se está reproduciendo
 * @param lang Lenguaje del componente
 * @param localization Arreglo con las cadenas localizadas
 */
{template .LiveOverlay}
<div lang="{$lang}" class="{css openmultimedia-componentes-player-overlay-live-on}">
    {$localization.en_vivo}
</div>
{/template}